<div class="del-mod-display hidden">
  <form action="/mapsdb-api/v1/delete" method="post" class="form delete-form">
    <input type="hidden" name="id" id="del-evt-id">
    <button type="submit" class="submit-btn danger-btn">Deletar</button>
    <button class="submit-btn cancel-btn">Cancelar</button>
  </form>
</div>