<div class="del-mod-window hidden">
  <div class="del-mod-display">
    <p>Deseja mesmo deletar o evento?</p>
    <div class="del-mod-btns">
      <form action="/mapsdb-api/v1/delete" method="post" class="form delete-form">
        <input type="hidden" name="id" id="del-evt-id">
        <button type="submit" class="btn-danger submit-btn">Deletar</button>
      </form>
      <button class="btn cancel-btn">Cancelar</button>
    </div>
  </div>
</div>