<form action="/mapsdb-api/v1/delete" method="post" class="form delete-form">
  <input type="hidden" name="evt-id" value="<%= evtId %>">
  <button type="submit" class="submit-btn danger-btn">Deletar</button>
  <button class="submit-btn cancel-btn">Cancelar</button>
</form>