<div class="marker-modal hidden">
  <form action="/create" method="post" class="modal-form">
    <div class="pos">
      Lat: <input id="lat" name="lat">
      Lng: <input id="lng" name="lng">
    </div>
    <button type="submit" class="modal-btn">Criar evento</button>
  </form>
</div>