<div class="marker-modal hidden">
  <form action="/create" method="post" class="modal-form">
    <div class="pos">
      <p>Lat: <input id="lat" name="lat"></p>
      <p>Lng: <input id="lng" name="lng"></p>
    </div>
    <button type="submit" class="btn modal-btn">Criar evento</button>
  </form>
</div>