<div class="dark-mode-btn underlay">
  <div class="dmb dmb-light">
    <ion-icon name="sunny-outline"></ion-icon>
    <div class="dmb-cover"></div>
  </div>
  <div class="dmb dmb-dark">
    <ion-icon name="moon-outline"></ion-icon>
    <div class="dmb-cover"></div>
  </div>

</div>