<%- include('includes/head') %>
<title>Academic Maps</title>
</head>

<body>

  <section class="container">
    <%- include('includes/nav') %>
    <%- include('includes/dark-mode-btn') %>
    <div class="content">
      <div id="map"></div>
    </div>
  </section>
  <%- include('includes/footer') %>