/* || GENERAL || */

:root {
  --MainText: #000;
  --Background: #dfe4e6;
  --Shadow1: #a7a7a7;
  --Shadow2: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--Background);
  font-size: 2.5em;
}

.overlay {
  background-color: var(--Background);
  box-shadow: 5px 5px 10px var(--Shadow1),
    -5px -5px 10px var(--Shadow2);
}

.underlay {
  background-color: var(--Background);
  box-shadow: inset 5px 5px 10px var(--Shadow1),
    inset -5px -5px 10px var(--Shadow2);
}

/* || NAVBAR || */

.nav {
  height: 10rem;
}

.home-link {
  display: block;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25rem;
  height: 100%;
  margin: .5em auto 0;
}

/* || DARK MODE BUTTON || */

.dark-mode-btn {
  position: absolute;
  font-size: 3rem;
  display: flex;
  background-color: var(--DMBBackground);
  border: none;
  border-radius: 20em;
  width: 3.3em;
  height: calc(36px + .4em);
  padding: .2em;
  top: 1em;
  right: 1em
}

.dmb {
  position: absolute;
  color: var(--MainText);
  background-color: var(--Background);
  box-shadow: 5px 5px 10px var(--Shadow1),
    -1px 1px 10px var(--Shadow2);
  border-radius: 100%;
  max-height: 36px;
  padding: .1em;
}

.dark-mode-btn .dmb-dark {
  display: none;
  right: .2em;
}

.dmb-cover {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  height: 3.6rem;
  width: 3.6rem;
}

/* || CONTENT || */


.content {
  position: absolute;
  width: 100%;
  height: calc(90% - 1.2em);
}

/* | MAP | */

.map-window {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

#map {
  height: 100%;
  margin: 0 .6em .6em;
  border-radius: 1em;
}

.shrunk {
  width: 70%;
}

/* | EVENTS LIST | */

#events-button {
  position: absolute;
  z-index: 2;
  right: 2em;
  margin: 2em;
}

.list-window {
  position: absolute;
  border: 2px solid var(--Shadow1);
  border-radius: 1em;
  left: 70%;
  width: calc(30% - .6em);
  height: 100%;
  padding: .6em .6em 0;
}

.search {
  display: flex;
  width: 100%;
}

#search-bar {
  font-size: 2rem;
  border: none;
  border-radius: 1em;
  width: 100%;
  height: 3em;
  padding: .6em;
}

.search-btn {
  padding: .6em;
}

.list {
  margin: .6em 0
}

/* || MODALS || */
/* | MARKER | */

.marker-modal {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: var(--Background);
  border-radius: 3em;
  box-shadow: 0px 0px 10px var(--Shadow1);
  bottom: 1em;
  left: calc(50% - 25rem);
  width: 50rem;
  padding: 1em 3em;
}

.hidden {
  display: none;
}

.pos {
  pointer-events: none;
}

.pos input {
  border: none;
  background-color: var(--Background);
}

.modal-btn {}