<%- include('../includes/head') %>
<title>Error 404</title>

<body>
  <section class="container">
    <h1 class="title error-title">Error 404</h1>
    <p class="error-desc">Page not found!</p>
  </section>

  <%- include('../includes/footer') %>